body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
    margin: 0;
}
.mainWrap{
    margin-top: 60px;
    background-color: gray;
    width: 600px;
    height: 800px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 300;
}
.mainWrap button{
    width: 250px;
    height: 40px;
    background-color: grey;
    color: white;
    font-size: 20px;
    font-weight: 300;
}
.mainWrap button:hover{
    cursor: pointer;
}