
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #004052;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}
.profilesDiv, main{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;
}

.profiles{
    width: 300px;
    height: 200px;
    background-color: cyan;
    border: solid, darkcyan, ;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dogDiv{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.dogDiv img{
    height: 300px;
}