body{
    background-color: lightgoldenrodyellow;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;  
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.apiButton{
    width: 100px;
    height: 40px;
}
.apiButton button{
    width: 100px;
    height: 40px;
}
.post{
    margin-top: 40px;
    text-align: center;
    border: solid 1px black;
    background-color: lightgreen;
    border-radius: 100px;
    height: 150px;
    width: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.userInfo{
    background-color: lightgoldenrodyellow;
    width: 100px;
    border-radius: 100px;
}
.userPost{
    background-color: lightgoldenrodyellow;
    width: 95%;
    height: 70px;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.title{
    font-weight: 600;
}